body {
  background: gray;
  /*comment out*/
}

.bottomp {
  margin-top: 0px;
}

.bodycontent {
  width: 750px;
  margin: auto;
  border:1px solid black;
  background: white;
  font-size: 13px;
  border-top-right-radius: 20px;
  float: left;
}

.bodycontent p {
  margin-left: 5px;
}

.figurewrapper {
  border: 1px solid lightgray;
  margin: 10px;
}

.overview h2 {
  margin-left:10px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: Helvetica;
}

.overviewlinks {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid black;
}

.overviewlinks a {
  color:#396DC0
}

.overviewlinks p {
  font-size: 15px;
  margin-bottom: 10px;
}

figcaption {
  font-size: 11px;
  color:#165AAE;
  font-family: Helvetica;
}

figure {
  margin-left: 10px;
}

.featuredmission p {
  font-weight: bold;
  margin-bottom: 0px;
}

.featuredmission a {
  text-decoration: underline;
  color: blue;
  font-weight: normal;
}

.readmore {
  font-weight: bold;
  color: #043C96;
  text-align: center;
  font-family: Helvetica;
}

.socialmedia {
  text-align: center;
}

.socialmedia img {
  height: 25px;
  width: 50px;
  margin-bottom: -2px;
}

.currentpage a {
  color:#002562
}

.jupiternav {
background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#D4DEE1), to(#BBC7D9));
background-image: -webkit-linear-gradient(#D4DEE1 0%, #BBC7D9 100%);
background-image: -moz-linear-gradient(#D4DEE1 0%, #BBC7D9 100%);
background-image: -o-linear-gradient(#D4DEE1 0%, #BBC7D9 100%);
background-image: linear-gradient(#D4DEE1 0%, #BBC7D9 100%);
/*margin-top: 5px;*/
}

.jupiternav li {
  display: inline;
  background: #E7EFF9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 15px;
  box-shadow: 1px 1px 5px; #ACBDD5;
  height: 15px;
  float: left;
  line-height: 20px;
  height: 20px;
  margin-right: 5px;
}

.jupiternav ul {
  float: right;
  margin-bottom: 5px;
}

li a {
  display: block;
  font-style: italic;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-family: Helvetica;
  color: #A8BAD1;
  /*float:left;*/
  line-height: 15px;
  height: 15px;
  margin-top: 3px;
}

li a:hover {
  color:#457AC5
}

.clear {
  clear: both;
}

.bottomnav {
  margin-top: 0;
  margin-bottom: 10px;
}
#sidetop{
background-color: #36223E;
width: 200px;

padding-bottom: 5px;
padding-top: 5px;
text-decoration: none;

}
#sidetop ul{
  list-style-type: none;
  color:#937B9E;
  margin-left: -30px;

}
#sidetop li{
  padding: 5px 15px;
  font-size:12px;
  font-family: Helvetica;
  text-align: left;
}

#sidetop li:nth-child(10){
font-weight: bold;
color: white;
}
#sidetop img{
  margin-bottom: -5px;
}
#sidetop img:first-child{
  margin-top: -5px;
}
#sidebot{
  width: 200px;
  background-color: #09234A;
}
#sidebot img{
margin-bottom: -5px;
}
#sidebot input-type{
  width:100px;

}
input[type="search"]{
  width:130px;
  margin-left: 15px;
  border-color: #7D95B4;
  background-color: #2C4C79;
}
#button{
  color: #09234A;
  width:25px;
  background-color:#426592;
  margin: 10px 4px 10px 4px;
border-color: #7D95B4;
border-top-right-radius:75px;
border-bottom-right-radius: 75px;
}
#soc{
  margin-left:15px;
}
#webby{
  margin-top: 15px;
}

.totalside {
  float:left;
}

.sideandmid {
  margin-left:100px;
  float:left;
}

#footerwrap{
  background-color:#25324F;


    -moz-box-shadow: 1px 17px 40px #000000;
    -webkit-box-shadow: 1px 17px 40px #000000;
    box-shadow: 1px 17px 40px #000000;
}
footer{
  width: 950px;
  /*height:145px;*/
  background-color:#25324F;
  text-decoration: none;
  color: #ffffff;
  margin: auto;
}
#footnav ul{
  list-style: none;
  /*border-bottom: 2px solid black;*/

}
#footnav ul:first-child{
  margin-left: 5px;
  padding-left: 5px;
}
#footnav a{
  font-family: Helvetica,Arial,sans-serif;
  display: inline;
  float: left;
  font-size: 11px;
  color: #8999B1;
  padding: 5px;
  margin-left: 2px;
  margin-right: 0;
  text-decoration: none;
}
#footnav a:hover{
  color: white;
  text-decoration: none;
}
#botcontent{
border-top: 1px ridge rgba(42, 89, 200, 0.3);
}
#botcontent  a{
  text-decoration:none;
  font-size: 9px;
  margin-left: -15px;
line-height: 9px;


}
#botcontent li{
  margin-left: -15px;
  font-family: Helvetica,Arial,sans-serif;
  display: inline;
  float: left;
  font-size: 9px;
  color: #8999B1;
  /*padding: 3px;*/
  text-decoration: none;
}

#botcontent ul{
  margin-top: 0;
  list-style: none;
line-height: 9px;
  margin-left: 7px;
}
#bot1{
  width:290px;
  display: inline;
  float: left;
  /*background-color: pink;*/

}
#bot2{
  width:271px;
  display: inline;
float: left;
/*background-color: green;*/

}
#bot2 li:nth-child(4){
  margin-top: 11px;
}
#bot3{
  width:185px;
  display: inline;
float: left;

/*background-color: orange;*/
}


#bot4{

  width:148px;
  display: inline;
  float: left;
  /*background-color: yellow;*/
}

